NewTest/SDK/*
NewTest/.DS_Store
NewTest/Views/Login/*
.DS_Store
NewTest/.DS_Store
.DS_Store
NewTest.xcodeproj/xcuserdata/emirbeytekin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
NewTest/Views/Login/SDKLoginViewController.swift
NewTest.xcodeproj/xcuserdata/emirbeytekin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
NewTest/AppDelegate.swift
