NewTest/SDK/*
NewTest/.DS_Store
NewTest/Views/Login/*
.DS_Store
NewTest/.DS_Store
.DS_Store
NewTest.xcodeproj/xcuserdata/emirbeytekin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
NewTest/Views/Login/SDKLoginViewController.swift
NewTest.xcodeproj/xcuserdata/emirbeytekin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
NewTest/AppDelegate.swift
.DS_Store
NewTest.xcodeproj/project.xcworkspace/xcuserdata/emirbeytekin.xcuserdatad/UserInterfaceState.xcuserstate
NewTest.xcodeproj/xcshareddata/xcschemes/NewTest.xcscheme
NewTest.xcodeproj/xcuserdata/emirbeytekin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
NewTest/.DS_Store
NewTest/AppDelegate.swift
NewTest/Env.xcdatamodeld/Env.xcdatamodel/contents
NewTest/Views/Login/SDKLoginViewController.swift
NewTest/Views/Login/SDKLoginViewController.xib
